In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm, tnrange
%matplotlib inline

In [2]:
df = pd.read_excel("Train/train_bureau.xlsx")
tdf = pd.read_excel("Test/test_bureau.xlsx")
df.shape, tdf.shape

((560844, 25), (64019, 25))

In [3]:
df.shape, tdf.shape

((560844, 25), (64019, 25))

In [4]:
df.isnull().sum()

ID                                0
SELF-INDICATOR                    0
MATCH-TYPE                        0
ACCT-TYPE                         0
CONTRIBUTOR-TYPE                  0
DATE-REPORTED                  3683
OWNERSHIP-IND                     0
ACCOUNT-STATUS                    0
DISBURSED-DT                  32150
CLOSE-DT                     251758
LAST-PAYMENT-DATE            319283
CREDIT-LIMIT/SANC AMT        545685
DISBURSED-AMT/HIGH CREDIT         0
INSTALLMENT-AMT              420509
CURRENT-BAL                     233
INSTALLMENT-FREQUENCY        425135
OVERDUE-AMT                  118891
WRITE-OFF-AMT                 19123
ASSET_CLASS                  300376
REPORTED DATE - HIST          19123
DPD - HIST                    19647
CUR BAL - HIST                19123
AMT OVERDUE - HIST            19123
AMT PAID - HIST               20294
TENURE                       368107
dtype: int64

In [5]:
tdf.isnull().sum()

ID                               0
SELF-INDICATOR                   0
MATCH-TYPE                       0
ACCT-TYPE                        0
CONTRIBUTOR-TYPE                 0
DATE-REPORTED                    0
OWNERSHIP-IND                    0
ACCOUNT-STATUS                   0
DISBURSED-DT                    44
CLOSE-DT                     31453
LAST-PAYMENT-DATE            32550
CREDIT-LIMIT/SANC AMT        62421
DISBURSED-AMT/HIGH CREDIT       38
INSTALLMENT-AMT              47693
CURRENT-BAL                     32
INSTALLMENT-FREQUENCY        48243
OVERDUE-AMT                  13127
WRITE-OFF-AMT                 2561
ASSET_CLASS                  34902
REPORTED DATE - HIST          2561
DPD - HIST                    2565
CUR BAL - HIST                2561
AMT OVERDUE - HIST            2561
AMT PAID - HIST               2672
TENURE                       42882
dtype: int64

In [6]:
df.dtypes, tdf.dtypes

(ID                                    int64
 SELF-INDICATOR                         bool
 MATCH-TYPE                           object
 ACCT-TYPE                            object
 CONTRIBUTOR-TYPE                     object
 DATE-REPORTED                datetime64[ns]
 OWNERSHIP-IND                        object
 ACCOUNT-STATUS                       object
 DISBURSED-DT                 datetime64[ns]
 CLOSE-DT                             object
 LAST-PAYMENT-DATE            datetime64[ns]
 CREDIT-LIMIT/SANC AMT                object
 DISBURSED-AMT/HIGH CREDIT            object
 INSTALLMENT-AMT                      object
 CURRENT-BAL                          object
 INSTALLMENT-FREQUENCY                object
 OVERDUE-AMT                          object
 WRITE-OFF-AMT                       float64
 ASSET_CLASS                          object
 REPORTED DATE - HIST                 object
 DPD - HIST                           object
 CUR BAL - HIST                       object
 AMT OVERDUE - HIST                   object
 AMT PAID - HIST                      object
 TENURE                              float64
 dtype: object,
 ID                                    int64
 SELF-INDICATOR                         bool
 MATCH-TYPE                           object
 ACCT-TYPE                            object
 CONTRIBUTOR-TYPE                     object
 DATE-REPORTED                datetime64[ns]
 OWNERSHIP-IND                        object
 ACCOUNT-STATUS                       object
 DISBURSED-DT                 datetime64[ns]
 CLOSE-DT                             object
 LAST-PAYMENT-DATE            datetime64[ns]
 CREDIT-LIMIT/SANC AMT                object
 DISBURSED-AMT/HIGH CREDIT            object
 INSTALLMENT-AMT                      object
 CURRENT-BAL                          object
 INSTALLMENT-FREQUENCY                object
 OVERDUE-AMT                          object
 WRITE-OFF-AMT                       float64
 ASSET_CLASS                          object
 REPORTED DATE - HIST                 object
 DPD - HIST                           object
 CUR BAL - HIST                       object
 AMT OVERDUE - HIST                   object
 AMT PAID - HIST                      object
 TENURE                              float64
 dtype: object)

In [7]:
df.ID.max(), df.ID.min()

(143395, 1)