In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm.notebook import tqdm, tnrange
%matplotlib inline

In [2]:
df = pd.read_excel("Train/train_bureau.xlsx")
tdf = pd.read_excel("Test/test_bureau.xlsx")
df.shape, tdf.shape

((560844, 25), (64019, 25))

In [3]:
df.shape, tdf.shape

((560844, 25), (64019, 25))

In [4]:
df.isnull().sum(), df.dtypes

(ID                                0
 SELF-INDICATOR                    0
 MATCH-TYPE                        0
 ACCT-TYPE                         0
 CONTRIBUTOR-TYPE                  0
 DATE-REPORTED                  3683
 OWNERSHIP-IND                     0
 ACCOUNT-STATUS                    0
 DISBURSED-DT                  32150
 CLOSE-DT                     251758
 LAST-PAYMENT-DATE            319283
 CREDIT-LIMIT/SANC AMT        545685
 DISBURSED-AMT/HIGH CREDIT         0
 INSTALLMENT-AMT              420509
 CURRENT-BAL                     233
 INSTALLMENT-FREQUENCY        425135
 OVERDUE-AMT                  118891
 WRITE-OFF-AMT                 19123
 ASSET_CLASS                  300376
 REPORTED DATE - HIST          19123
 DPD - HIST                    19647
 CUR BAL - HIST                19123
 AMT OVERDUE - HIST            19123
 AMT PAID - HIST               20294
 TENURE                       368107
 dtype: int64,
 ID                                    int64
 SELF-INDICATOR                         bool
 MATCH-TYPE                           object
 ACCT-TYPE                            object
 CONTRIBUTOR-TYPE                     object
 DATE-REPORTED                datetime64[ns]
 OWNERSHIP-IND                        object
 ACCOUNT-STATUS                       object
 DISBURSED-DT                 datetime64[ns]
 CLOSE-DT                             object
 LAST-PAYMENT-DATE            datetime64[ns]
 CREDIT-LIMIT/SANC AMT                object
 DISBURSED-AMT/HIGH CREDIT            object
 INSTALLMENT-AMT                      object
 CURRENT-BAL                          object
 INSTALLMENT-FREQUENCY                object
 OVERDUE-AMT                          object
 WRITE-OFF-AMT                       float64
 ASSET_CLASS                          object
 REPORTED DATE - HIST                 object
 DPD - HIST                           object
 CUR BAL - HIST                       object
 AMT OVERDUE - HIST                   object
 AMT PAID - HIST                      object
 TENURE                              float64
 dtype: object)

In [5]:
tdf.isnull().sum(), tdf.dtypes

(ID                               0
 SELF-INDICATOR                   0
 MATCH-TYPE                       0
 ACCT-TYPE                        0
 CONTRIBUTOR-TYPE                 0
 DATE-REPORTED                    0
 OWNERSHIP-IND                    0
 ACCOUNT-STATUS                   0
 DISBURSED-DT                    44
 CLOSE-DT                     31453
 LAST-PAYMENT-DATE            32550
 CREDIT-LIMIT/SANC AMT        62421
 DISBURSED-AMT/HIGH CREDIT       38
 INSTALLMENT-AMT              47693
 CURRENT-BAL                     32
 INSTALLMENT-FREQUENCY        48243
 OVERDUE-AMT                  13127
 WRITE-OFF-AMT                 2561
 ASSET_CLASS                  34902
 REPORTED DATE - HIST          2561
 DPD - HIST                    2565
 CUR BAL - HIST                2561
 AMT OVERDUE - HIST            2561
 AMT PAID - HIST               2672
 TENURE                       42882
 dtype: int64,
 ID                                    int64
 SELF-INDICATOR                         bool
 MATCH-TYPE                           object
 ACCT-TYPE                            object
 CONTRIBUTOR-TYPE                     object
 DATE-REPORTED                datetime64[ns]
 OWNERSHIP-IND                        object
 ACCOUNT-STATUS                       object
 DISBURSED-DT                 datetime64[ns]
 CLOSE-DT                             object
 LAST-PAYMENT-DATE            datetime64[ns]
 CREDIT-LIMIT/SANC AMT                object
 DISBURSED-AMT/HIGH CREDIT            object
 INSTALLMENT-AMT                      object
 CURRENT-BAL                          object
 INSTALLMENT-FREQUENCY                object
 OVERDUE-AMT                          object
 WRITE-OFF-AMT                       float64
 ASSET_CLASS                          object
 REPORTED DATE - HIST                 object
 DPD - HIST                           object
 CUR BAL - HIST                       object
 AMT OVERDUE - HIST                   object
 AMT PAID - HIST                      object
 TENURE                              float64
 dtype: object)

In [6]:
df.ID.value_counts(sort=True, ascending=False)

71060     420
141732    165
51786     152
1167      138
97794     124
         ...
107223      1
109270      1
116205      1
103121      1
9436        1
Name: ID, Length: 128655, dtype: int64

In [7]:
df.ID.nunique()

128655

In [8]:
df[df['DATE-REPORTED'].isnull()]

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,...,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE
40,3,False,PRIMARY,Credit Card,CCC,NaT,Individual,Active,2019-03-25,NaN,...,NaN,0,0.0,NaN,"20200112,20191213,20191112,20191013,20190912,2...",0,"17715,16886,24409,24409,5279,20000,5000,28432,...","0,0,0,0,0,0,0,0,0,","4930,7881,21891,21891,63229,5000,28432,3774,35,",NaN
2957,490,False,PRIMARY,Two-Wheeler Loan,NBF,NaT,Individual,Closed,2017-02-18,NaN,...,F03,NaN,0.0,Standard,"20190206,20190104,20181203,20181103,20181009,2...",0,"3735,5577,7394,9186,9186,12698,14418,16115,177...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0","41446,39228,37360,35492,33624,31756,29888,2802...",24.0
2960,492,False,PRIMARY,Two-Wheeler Loan,NBF,NaT,Individual,Closed,2015-08-24,NaN,...,NaN,0,0.0,NaN,"20170301,20170202,20170103,20161202,20161104,2...",DDD0000000000000000000000000000000000000000000...,",,4336,4336,8672,8672,10840,13008,15176,17344,...",",,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,0,0",",,,,,,,,,,,,,,,,,,,,",NaN
12373,1891,False,PRIMARY,Gold Loan,NBF,NaT,Individual,Closed,2018-06-16,NaN,...,NaN,0,0.0,NaN,"20190305,20190228,20190131,20181231,20181130,2...",0,"0,125000,125000,125000,125000,125000,125000,12...","0,0,0,0,0,0,0,0,0,0","125000,,,,,,,,,,",12.0
12374,1891,False,PRIMARY,Gold Loan,NBF,NaT,Individual,Closed,2018-05-29,NaN,...,NaN,0,0.0,NaN,"20190305,20190228,20190131,20181231,20181130,2...",0,"0,117600,117600,117600,117600,117600,117600,11...","0,0,0,0,0,0,0,0,0,0","117600,,,,,,,,,,",12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560584,143270,False,PRIMARY,Two-Wheeler Loan,NBF,NaT,Individual,Active,2018-07-24,NaN,...,NaN,0,0.0,NaN,"20200103,20191204,20191102,20191001,20190902,2...",000000000DDD000000000000000000000000000DDDDDDD...,"2592,7776,10368,,15552,15552,18144,20736,23328...","0,2592,0,,0,0,0,0,0,0,0,0,0,,,,0,",",,,,,,,,,,,,,,,,,",NaN
560587,143270,False,PRIMARY,Two-Wheeler Loan,NBF,NaT,Individual,Closed,2017-01-13,NaN,...,NaN,NaN,0.0,NaN,"20190303,20190201,20190101,20181201,20181101,2...",000000000DDDDDDDDD000DDDDDD000DDD0000000000000...,"0,0,2402,,,,12010,,,19216,,24020,26422,28824,3...","0,0,0,,,,0,,,0,,0,0,0,0,0,0,0,0,0,0,0,,0,,0",",,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
560606,143280,False,PRIMARY,Two-Wheeler Loan,NBF,NaT,Individual,Closed,2018-05-15,2019-05-20 00:00:00,...,F03,NaN,0.0,Standard,"20190503,20190404,20190304,20190206,20190104,2...",0,"3720,7367,10936,14428,17845,21189,24461,24461,...","0,0,0,0,0,0,0,0,0,0,0,0","41899,38090,34281,30472,26663,22854,19045,1523...",12.0
560623,143285,False,PRIMARY,Two-Wheeler Loan,NBF,NaT,Individual,Closed,2014-04-15,2015-10-22 00:00:00,...,NaN,NaN,0.0,NaN,"20151005,20150907,20150802,20150703,20150603,2...",1E+15,"2426,4852,7278,9704,12130,14556,16982,","2426,2426,0,2426,2426,2426,2426",",,,,,,,,",NaN
560656,143301,False,PRIMARY,JLG Individual,PRB,NaT,Primary,Closed,NaT,2018-02-28 00:00:00,...,F01,0,0.0,NaN,"20180206,20180105,20171202,20171102,20171014,2...",000000000000000000XXX000000XXX000000000,"5681,11469,18589,24195,28348,36522,,43202,5364...","0,0,0,0,0,0,,0,0,,0,0,0",",",NaN

In [9]:
df.nunique()

ID                           128655
SELF-INDICATOR                    2
MATCH-TYPE                        2
ACCT-TYPE                        50
CONTRIBUTOR-TYPE                 12
DATE-REPORTED                  2652
OWNERSHIP-IND                     5
ACCOUNT-STATUS                   11
DISBURSED-DT                   6279
CLOSE-DT                       4684
LAST-PAYMENT-DATE              4085
CREDIT-LIMIT/SANC AMT           877
DISBURSED-AMT/HIGH CREDIT     72426
INSTALLMENT-AMT               50133
CURRENT-BAL                  147445
INSTALLMENT-FREQUENCY             9
OVERDUE-AMT                   22385
WRITE-OFF-AMT                  1009
ASSET_CLASS                       8
REPORTED DATE - HIST          57846
DPD - HIST                   134338
CUR BAL - HIST               447072
AMT OVERDUE - HIST           187341
AMT PAID - HIST               83417
TENURE                          324
dtype: int64

In [10]:
df.columns

Index(['ID', 'SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'DATE-REPORTED', 'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'DISBURSED-DT',
       'CLOSE-DT', 'LAST-PAYMENT-DATE', 'CREDIT-LIMIT/SANC AMT',
       'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
       'INSTALLMENT-FREQUENCY', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'ASSET_CLASS',
       'REPORTED DATE - HIST', 'DPD - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST', 'TENURE'],
      dtype='object')

In [11]:
cat_cols = ['SELF-INDICATOR', 'MATCH-TYPE', 'ACCT-TYPE', 'CONTRIBUTOR-TYPE',
       'OWNERSHIP-IND', 'ACCOUNT-STATUS', 'INSTALLMENT-TYPE',
       'ASSET_CLASS', 'INSTALLMENT-FREQUENCY',
       'DPD - HIST']    #should not be here
date_cols = ['DATE-REPORTED',  'DISBURSED-DT', 'CLOSE-DT', 
             'LAST-PAYMENT-DATE']
reg_cols = ['CREDIT-LIMIT/SANC AMT', 'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
        'OVERDUE-AMT', 'WRITE-OFF-AMT', 'TENURE'] # , 'DPD - HIST']
array_cols = ['REPORTED DATE - HIST', 'CUR BAL - HIST',
       'AMT OVERDUE - HIST', 'AMT PAID - HIST']

len(cat_cols), len(date_cols), len(reg_cols), len(array_cols)

(10, 4, 7, 4)

# Amt paid hist

In [12]:
def get_length(amt):    
    if not pd.isnull(amt):
        return len(amt.split(","))
    else: 0
df['AMT PAID - HIST'].apply(lambda x: get_length(x)).max()

38.0

In [13]:

df['AMT OVERDUE - HIST'].apply(lambda x: get_length(x)).max()

42.0

In [14]:

df['CUR BAL - HIST'].apply(lambda x: get_length(x)).max()

37.0

In [15]:

df['REPORTED DATE - HIST'].apply(lambda x: get_length(x)).max()

37.0

In [16]:
df['AMT OVERDUE - HIST'].str.split(",")

0                                               [37873, , ]
1         [, , , , , , , , , , , , , , , , , , , , 1452,...
2                                      [0, 0, 0, 0, 0, 0, ]
3         [0, , 1014, 1014, 1014, 1014, 1014, 1014, 1014...
4         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                                ...
560839      [0, 0, , 22920, 22920, 22920, 0, 0, 0, 0, 0, 0]
560840    [0, 0, 0, 0, 0, 0, 125, 125, 125, , 125, 125, ...
560841    [, , , , , , , , , , , , 10897, , , 10763, , 1...
560842         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ]
560843         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ]
Name: AMT OVERDUE - HIST, Length: 560844, dtype: object

In [17]:
len(df['INSTALLMENT-AMT'].unique())

50134

In [18]:
def get_installment_type(x, part=1):
    
    try:
        return str(x).split('/')[part]
    except:
#         print(x)
        return x
df['INSTALLMENT-TYPE'] = df['INSTALLMENT-AMT'].apply(lambda x: get_installment_type(x))
df['INSTALLMENT-AMT'] = df['INSTALLMENT-AMT'].apply(lambda x: get_installment_type(x, 0).replace(',', '')).astype(np.float64)


tdf['INSTALLMENT-TYPE'] = tdf['INSTALLMENT-AMT'].apply(lambda x: get_installment_type(x))
tdf['INSTALLMENT-AMT'] = tdf['INSTALLMENT-AMT'].apply(lambda x: get_installment_type(x, 0).replace(',', '')).astype(np.float64)

In [19]:
df[cat_cols]

,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,OWNERSHIP-IND,ACCOUNT-STATUS,INSTALLMENT-TYPE,ASSET_CLASS,INSTALLMENT-FREQUENCY,DPD - HIST
0,False,PRIMARY,Overdraft,NAB,Individual,Delinquent,NaN,Standard,NaN,030000
1,False,PRIMARY,Auto Loan (Personal),NAB,Individual,Active,Monthly,Standard,F03,0000000000000000000000000000000000000000000000...
2,True,PRIMARY,Tractor Loan,NBF,Individual,Active,NaN,NaN,NaN,000000000000000000
3,True,PRIMARY,Auto Loan (Personal),NBF,Individual,Closed,NaN,NaN,NaN,000DDD0270260270260270240270270000320000000000...
4,True,PRIMARY,Tractor Loan,NBF,Individual,Closed,NaN,NaN,NaN,0000000000000000000000000000000000000000000000...
...,...,...,...,...,...,...,...,...,...,...
560839,False,PRIMARY,Tractor Loan,NBF,Individual,Closed,NaN,Standard,NaN,000000DDD054024024000000000000000000
560840,False,PRIMARY,Tractor Loan,NBF,Individual,Active,NaN,Standard,NaN,000000000000000000027028028DDD026030DDD0000000...
560841,False,PRIMARY,Auto Loan (Personal),NBF,Guarantor,Active,NaN,Standard,NaN,XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX031XXXXXX0...
560842,True,PRIMARY,Tractor Loan,NBF,Individual,Active,NaN,NaN,NaN,0
560843,True,PRIMARY,Tractor Loan,NBF,Individual,Active,NaN,NaN,NaN,0

In [20]:
df[reg_cols]

,CREDIT-LIMIT/SANC AMT,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,OVERDUE-AMT,WRITE-OFF-AMT,TENURE
0,NaN,"37,352",NaN,"37,873","37,873",0.0,NaN
1,NaN,"44,000",1405.0,"20,797",NaN,0.0,36.0
2,NaN,"1,45,000",NaN,"1,16,087",0,0.0,NaN
3,NaN,"3,00,000",NaN,0,0,0.0,NaN
4,NaN,"2,75,000",NaN,0,0,0.0,NaN
...,...,...,...,...,...,...,...
560839,NaN,"2,50,000",NaN,0,0,0.0,12.0
560840,NaN,"3,0,000",NaN,0,0,0.0,24.0
560841,NaN,"3,93,819",NaN,"1,1,687",NaN,0.0,48.0
560842,NaN,"2,50,643",NaN,"1,32,487",0,0.0,NaN
560843,NaN,"2,0,428",NaN,"1,5,499",0,0.0,NaN

In [21]:
df[df.ID == 490][date_cols]

     DATE-REPORTED DISBURSED-DT             CLOSE-DT LAST-PAYMENT-DATE
2955    2019-03-04   2017-02-18  2019-02-07 00:00:00        2019-01-30
2956    2020-01-31   2017-04-24                  NaN               NaT
2957           NaT   2017-02-18                  NaN        2019-01-30
2958    2020-01-31   2017-04-24                  NaN               NaT

In [22]:
df[reg_cols].dtypes

CREDIT-LIMIT/SANC AMT         object
DISBURSED-AMT/HIGH CREDIT     object
INSTALLMENT-AMT              float64
CURRENT-BAL                   object
OVERDUE-AMT                   object
WRITE-OFF-AMT                float64
TENURE                       float64
dtype: object

In [23]:
def get_number_from_string(x):
    if isinstance(x, str):
        
        return np.float64(x.replace(",", ""))
    else:
        return np.float64(x)
    

df['CREDIT-LIMIT/SANC AMT'] = df['CREDIT-LIMIT/SANC AMT'].apply(lambda x: get_number_from_string(x))
df['DISBURSED-AMT/HIGH CREDIT'] = df['DISBURSED-AMT/HIGH CREDIT'].apply(lambda x: get_number_from_string(x))
df['CURRENT-BAL'] = df['CURRENT-BAL'].apply(lambda x: get_number_from_string(x))
df['OVERDUE-AMT'] = df['OVERDUE-AMT'].apply(lambda x: get_number_from_string(x))



tdf['CREDIT-LIMIT/SANC AMT'] = tdf['CREDIT-LIMIT/SANC AMT'].apply(lambda x: get_number_from_string(x))
tdf['DISBURSED-AMT/HIGH CREDIT'] = tdf['DISBURSED-AMT/HIGH CREDIT'].apply(lambda x: get_number_from_string(x))
tdf['CURRENT-BAL'] = tdf['CURRENT-BAL'].apply(lambda x: get_number_from_string(x))
tdf['OVERDUE-AMT'] = tdf['OVERDUE-AMT'].apply(lambda x: get_number_from_string(x))

In [24]:
df[reg_cols].dtypes

CREDIT-LIMIT/SANC AMT        float64
DISBURSED-AMT/HIGH CREDIT    float64
INSTALLMENT-AMT              float64
CURRENT-BAL                  float64
OVERDUE-AMT                  float64
WRITE-OFF-AMT                float64
TENURE                       float64
dtype: object

In [25]:
df[cat_cols].dtypes

SELF-INDICATOR             bool
MATCH-TYPE               object
ACCT-TYPE                object
CONTRIBUTOR-TYPE         object
OWNERSHIP-IND            object
ACCOUNT-STATUS           object
INSTALLMENT-TYPE         object
ASSET_CLASS              object
INSTALLMENT-FREQUENCY    object
DPD - HIST               object
dtype: object

In [26]:
df['CLOSE-DT'] = pd.to_datetime(df['CLOSE-DT'], errors = 'coerce')
tdf['CLOSE-DT'] = pd.to_datetime(tdf['CLOSE-DT'], errors = 'coerce')

In [27]:
df[date_cols].dtypes

DATE-REPORTED        datetime64[ns]
DISBURSED-DT         datetime64[ns]
CLOSE-DT             datetime64[ns]
LAST-PAYMENT-DATE    datetime64[ns]
dtype: object

In [28]:
df[cat_cols].nunique(), df[cat_cols].isnull().sum()

(SELF-INDICATOR                2
 MATCH-TYPE                    2
 ACCT-TYPE                    50
 CONTRIBUTOR-TYPE             12
 OWNERSHIP-IND                 5
 ACCOUNT-STATUS               11
 INSTALLMENT-TYPE           1231
 ASSET_CLASS                   8
 INSTALLMENT-FREQUENCY         9
 DPD - HIST               134338
 dtype: int64,
 SELF-INDICATOR                0
 MATCH-TYPE                    0
 ACCT-TYPE                     0
 CONTRIBUTOR-TYPE              0
 OWNERSHIP-IND                 0
 ACCOUNT-STATUS                0
 INSTALLMENT-TYPE         420509
 ASSET_CLASS              300376
 INSTALLMENT-FREQUENCY    425135
 DPD - HIST                19647
 dtype: int64)

In [29]:
asset_class_map = {'01': 'Standard', '1': 'Standard', '2': 'Standard'}
df['ASSET_CLASS'] = df['ASSET_CLASS'].apply(lambda x: asset_class_map[x] if x in asset_class_map else x)

tdf['ASSET_CLASS'] = tdf['ASSET_CLASS'].apply(lambda x: asset_class_map[x] if x in asset_class_map else x)

In [30]:
tdf.to_csv('Test/cleaned_bureau.csv', index=False)
df.to_csv('Train/cleaned_bureau.csv', index=False)