In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Train/cleaned_train.csv")
tdf = pd.read_csv("Test/cleaned_train.csv")

In [3]:
df.head()

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,...,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month
0,1,Monthly,Arrear,Closed,PDC_E,1,BHOPAL,48,450000,275000.0,...,1568,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993,> 48 Months
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,...,1062,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001,No Top-up Service
2,3,Quatrly,Arrear,Active,Direct Debit,1,BHOPAL,68,690000,519728.0,...,1060,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030,12-18 Months
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,...,1060,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335,> 48 Months
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,...,1046,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442,36-48 Months

In [4]:

cat_cols = ['Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode', 'BranchID', 'Area', 
            'ManufacturerID', 'SupplierID', 'SEX', 'City', 'State', 'ZiPCODE', 'Top-up Month']
reg_cols = ['AmountFinance', 'DisbursalAmount', 'EMI', 'AssetID', 'MonthlyIncome', 'Tenure', 'AssetCost', 'LTV', 'AGE']
date_cols = ['DisbursalDate', 'MaturityDAte', 'AuthDate']

In [5]:
df[cat_cols].dtypes

Frequency         object
InstlmentMode     object
LoanStatus        object
PaymentMode       object
BranchID           int64
Area              object
ManufacturerID     int64
SupplierID         int64
SEX               object
City              object
State             object
ZiPCODE            int64
Top-up Month      object
dtype: object

In [6]:
df.isnull().sum()

ID                    0
Frequency             0
InstlmentMode         0
LoanStatus            0
PaymentMode           0
BranchID              0
Area               4242
Tenure                0
AssetCost             0
AmountFinance         0
DisbursalAmount       0
EMI                   0
DisbursalDate         0
MaturityDAte          1
AuthDate              0
AssetID               0
ManufacturerID        0
SupplierID            0
LTV                   0
SEX                  59
AGE                  59
MonthlyIncome       234
City                154
State                 0
ZiPCODE               0
Top-up Month          0
dtype: int64

In [7]:
df[reg_cols].dtypes

AmountFinance      float64
DisbursalAmount    float64
EMI                float64
AssetID              int64
MonthlyIncome      float64
Tenure               int64
AssetCost            int64
LTV                float64
AGE                float64
dtype: object

In [8]:
df[date_cols].isnull().sum(), tdf[date_cols].isnull().sum()

(DisbursalDate    0
 MaturityDAte     1
 AuthDate         0
 dtype: int64,
 DisbursalDate    0
 MaturityDAte     0
 AuthDate         0
 dtype: int64)

In [9]:
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors="coerce")
    tdf[col] = pd.to_datetime(tdf[col], errors="coerce")
    
df[date_cols].isnull().sum(), tdf[date_cols].isnull().sum()

(DisbursalDate    0
 MaturityDAte     1
 AuthDate         0
 dtype: int64,
 DisbursalDate    0
 MaturityDAte     0
 AuthDate         0
 dtype: int64)

In [13]:
df[df.ID == 52360].values.shape

(1, 26)

In [14]:
df[df.ID == 52360].values

array([[52360, 'Half Yearly', 'Arrear', 'Active', 'ECS', 137,
        'KARIMNAGAR', 48, 800000, 552869.0, 552869.0, 94100.0,
        Timestamp('2017-03-31 00:00:00'),
        Timestamp('2021-03-10 00:00:00'),
        Timestamp('2017-03-31 00:00:00'), 24350409, 1187, 89813, 57.35,
        'M', 52.0, 31666.67, 'WARANGAL', 'ANDHRA PRADESH', 506135,
        'No Top-up Service']], dtype=object)

In [15]:
df.columns

Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'BranchID', 'Area', 'Tenure', 'AssetCost', 'AmountFinance',
       'DisbursalAmount', 'EMI', 'DisbursalDate', 'MaturityDAte', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'SEX', 'AGE',
       'MonthlyIncome', 'City', 'State', 'ZiPCODE', 'Top-up Month'],
      dtype='object')

In [16]:
df.columns.shape

(26,)