In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train_file = 'Train.csv'
test_file = 'Test.csv'

In [4]:
df = pd.read_csv(train_file, index_col='ID')

In [5]:
df.head()

,stock,Date,Open,High,Low,Close,holiday,unpredictability_score
ID,,,,,,,,
id_0,0,2017-01-03,82.9961,82.7396,82.9144,82.8101,1,7
id_1,0,2017-01-04,83.1312,83.1669,83.3779,82.9690,0,7
id_2,0,2017-01-05,82.6622,82.7634,82.8984,82.8578,0,7
id_3,0,2017-01-06,83.0279,82.7950,82.8425,82.7385,0,7
id_4,0,2017-01-09,82.3761,82.0828,82.1473,81.8641,0,7

In [6]:
tdf = pd.read_csv(test_file, index_col='ID')
tdf.head()

        stock        Date  holiday  unpredictability_score
ID
id_713      0  2019-11-01        0                       7
id_714      0  2019-11-04        0                       7
id_715      0  2019-11-05        0                       7
id_716      0  2019-11-06        0                       7
id_717      0  2019-11-07        0                       7

In [8]:
for col in df.columns:
    print(df[col].isnull().sum())
for col in tdf.columns:
    print(tdf[col].isnull().sum())

0
0
0
0
0
0
0
0
0
0
0
0

In [ ]:
df.ID.nunique(), df.shape

In [ ]:
tdf.ID.nunique(), tdf.shape

In [ ]:
# df.unpredictability_score.plot(kind="bar", figsize=(20,10))
df.unpredictability_score.value_counts(dropna=False)

In [ ]:
# df.unpredictability_score.plot(kind="bar", figsize=(20,10))
df.unpredictability_score.value_counts(dropna=False, )